* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: rgb(5, 24, 65);
	color: rgba(255, 255, 255, 0.774);
}

.container {
	width: 90%;
	margin: 0 auto;
}


section#movies {
	padding: 3rem 2rem;
}

section#movies ul.movies-list {
	gap: 0.5rem;
	padding-top: 2rem;
	display: flex;
	list-style: none;
	align-items: flex-start;
	justify-content: center;
}

ul.movies-list li.movie {
	padding: 3rem;
	min-height: 1200px;
	border-radius: 10px;
	flex-basis: calc( 100% / 3 );
	background-color: rgba(102, 102, 102, 0.226);
}

li.movie img {
	width: 100%;
	height: 650px;
	object-fit: cover;
}

li.movie h3,
li.movie p {
	gap: 1rem;
	display: flex;
	padding: 1rem 0;
}


li.movie span {
	line-height: 1.5rem;
	color: white;
}